.consultation {
    min-height: 60vh;
    background: linear-gradient(rgba(19, 18, 18, 0.5), rgba(26, 25, 25, 0.5)), url('https://i.ibb.co/qJ3KrCS/beautiful-building.jpg');
    background-size: cover;
    background-position: center;
}