.single-details img{
    width: 100%;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .single-details img{
        width: 300px;
        height: 260px;
    
    }
}